name: Build & Push to Docker Hub

on:
  push:
    branches: ["dev"]
    tags: ["v*"]

jobs:
  build:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_PASS }}

      - name: Build and push image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          platforms: linux/amd64
          push: true
          tags: |
            funmicra/docker-update:latest

      - name: Pull new image
        run: docker pull funmicra/docker-update:latest

      - name: Stop old container
        run: |
          docker stop Docker-Update || true
          docker rm Docker-Update || true

      - name: Run updated container
        run: |
          docker compose up -d
          docker exec Docker-Update python3 /app/docker_auto_update.py